:root{
    /* Color styles */
    --main-top: #1B72E8;
    --main-nav: #051E34;

}



/* site structure */


.wrapper{
    overflow:hidden;
    width:100%;
    height:100vh;
}

header{
    background-color: white;
}

header .navbar{
    height:80px;
}

aside.navbar{
    width:100px;
    height:100%;
}

main{
    margin-top: 80px;
    width:100%;
    height: calc(100% - 80px);
}

.main-content{
    overflow-y: auto;
    width:calc(100% - 100px);
}

/* images classes */

.logo-img{
    height:75px;
}

/* top navigation bar */

#searchbar{
    flex-grow:1;
    background-color: lightgray;
}

#searchbar input{
    background-color: lightgray;
    border:none;
}

#searchbar  button{
    border:none;
    background-color: transparent;
}

/* aside navbar */

aside{
    background-color:var(--main-nav);
    background-image: url("/img/sidebar-bg.png");
    background-position-y: 80px;
}

/* top main content */

#main-top-content{
    background-color: var(--main-top);
}

/* badge section */

#badge-btn{
    width:35px;
    height:35px;
    border-radius: 50%;
}

.navbar-toggler{
    padding:0;
}

.row .card{
    padding:0;
    margin:30px 0px 30px 15px;
}

/* classes menu */

.round-avatar{
    border-radius:50%;
    width: 40px;
}